
<div class = "footer">
  <div class = "footer-word">
      <h1 class = "footer-logo">Habit<span class = "dark">Tracker</span></h1>
      <p>Website made by Tanika Jangam</p>
      <p>App made by Sumrudhi Jadhav</p>
  </div>
  <ul>
      <li><a href = "/">Home</a></li>
      <li><a href="/#section2">About</a></li>
      <li><a href = "/#profile">My Profile</a></li>
      <li><a href = "/blogs/create">Start Session</a></li>
  </ul>
  </div>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>