
<nav class = "navbar">
  <div class = "logo">
      Habit<span class = "dark">Tracker</span>
  </div>

  <ul>
      <li><a href = "/">Home</a></li>
      <li><a href="#section2">About</a></li>
      <li><a href = "#profile">My Profile</a></li>
      <li class = "special"><a href = "/blogs/create">Start Session</a></li>
  </ul>
</mav>