    *{
      padding:0;
      margin: 0;
      box-sizing: border-box;
      scroll-behavior: smooth;
      font-family: 'Poppins', sans-serif;
  }
  
  .container{
      /* background-image: linear-gradient(to bottom right, red, yellow); */
      background-image: linear-gradient(to bottom left, #4431DC, #9DEBE1);
      padding: 0 1rem 1rem 1rem;
  }
  
  .hero-section{
      min-height: 100vh;
       display:flex;
      justify-content: center;
      align-items: center;
  }
  
  .heading{
      flex: 1;
      display: flex;
      justify-content: center;
      align-items:  center;
      flex-direction: column;
      text-align: left;
  }
  .heading h1{
      margin-bottom: 1rem;
      font-size: 4rem;
  }

  .heading h1, 
  .heading p{
      width: 80%;
      color: #fff;
      font-weight: 400;
  }
  .heading p{
      line-height: 2;
  }
  .hero-img{
      flex: 1;
  }
  
  .hero-img img{
      width: 80%;
  }
  
  .navbar{
      display:flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 2rem;
  }
  .navbar .logo{
      flex: 1;
      color: white;
      font-size: 1.8rem;
      font-weight: 500;
  }
  
  
  .navbar ul{
      flex: 1;
      list-style: none;
      display:flex;
      justify-content:space-between;
  
  }
  .navbar ul li a{
      text-decoration: none;
      font-size: 16px;
      color: #fff;
      transition: all .5s;
  }
  .navbar ul li a:hover{
      border-bottom: 1px solid rgb(190, 240, 255);
  }
  #section2{
      min-height:100vh;
      display:flex;
      flex-direction: row;
      background-color: #F7F9FB;
      padding: 5rem 3rem;
  }
  
  .text{
      flex: 1;
      display:flex;
      justify-content:center;
      align-items:center;
  }
  .about{
      min-height: 80%;
      padding: 2rem;
      /* border: 1px solid #000; */
      /* box-shadow: 0px 0px 10px rgb(125, 125, 125); */
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:center;
  }
  .about h1{
      font-weight: 400;
      margin-bottom: 2rem;
      color: rgb(50, 49, 49);
  }
  .about p{
      color:rgb(135, 135, 135);
      line-height: 2;
      font-size: 16px;
  }
  .text-img{
      flex:1;
      background-color: rgb(198, 245, 238);
      display: flex;
      justify-content:center;
      align-items:center;
  
  }
  .text-img img{
      width: 80%;
  }
  
  .dark{
      color: rgb(4, 4, 4);
  }
  .using-website{
      padding: 3rem 1rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
  }
  
  .part{
      flex: 1;
      max-width: 25%;
      text-align: center;
      justify-content:center;
      align-items: center;
  }
  .using-img{
      max-width: 50%;
      margin-bottom: 1rem;
  }
  .part p{
      line-height: 1.8;
      color: rgb(113, 113, 113);
  }
  
  .special{
      border-bottom: .5px solid rgb(190, 240, 255);
  }
  .footer{
      display:flex;
      justify-content: space-around;
      align-items: center;
      background-color: #26BFA7;
      padding: 2rem 1rem;
  }
  .footer-word{
      display:flex;
      flex: 1;
      line-height: 1.8;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      align-items: flex-start;
  }
  .footer-word .footer-logo{
      font-weight: 500;
  }
  .footer ul{
      flex: 2;
      list-style: none;
      display: flex;
      justify-content:space-around;
      align-items: center;
  }
  .footer ul li a{
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 400;
  }
  .questions h1{
      text-align: center;
      font-weight: 400;
      margin-top: 2rem'
  }

  .create-container{
    background-image: linear-gradient(to bottom left, #4431DC, #9DEBE1);
  }

  .content{
    max-width: 90%;
    padding: 3rem;
    margin: 2rem auto;
    min-height: 70vh;
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.8);
  }

  .video-conversion{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  #video{
    width: 100%;
  }

  .heading-2{
   text-align: center;
   margin: .4rem 0;
   font-weight: 500;
   font-size: 3rem;
  }

  .red-question{
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .red-question p{
    margin-right: 1rem;
  }
  .red-question button{
    outline:none;
    border: none;
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 16px;
  }
   #no{
    background-color: rgb(160, 61, 61);
    color: white;
    border-radius: 20px 0px 0px 20px;
  }
  #yes {
    background-color: rgb(82, 142, 82);
    color: white;
    border-radius: 0px 20px 20px 0px;
  }

  .video-conversion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .question{
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .question label{
    margin-right: 10px;
  }
  .question input{
    border:none;
    outline: none;
    padding: 5px;
  }
  .date{
    min-width: 50px;
  }
  #snippet{
    min-width: 50%;
    /* height: 10%; */
  }

  #body{
    width: 50px;
    height: 30px;
    padding: .3rem;
    outline: none;
    resize: none;
    border:none;
  }

  ::placeholder{
    color:rgb(150, 150, 150);
  
  }
  .single{
    font-weight: 400;
    color: #fff;
    text-decoration: none;

    width: 300px;
    height: 200px;
    background-color: #4ecab8;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
  }
  .heading-4{
    font-weight: 400;
    font-size: 2rem;
  }

  .content-profile{
    display: flex;
    min-height: 50vh;
  }

  .single:hover{
    background-color: #28a290;
  }
  .single .title{
    margin-bottom: 10px;
    font-weight: 450;
  }
  .single .snippet{
    color: rgb(216, 216, 216);
    
  }

  .results{
    min-height: 80vh;
    width: 80%;
    margin: 2rem auto;
    border-radius: 20px;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;

  }

  .results-inner{
    flex:3;
  }
  .results-inner-2{
    flex:1;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content:space-between;
  }

  .start-session{
    text-decoration: none;
    color: #fff;
    text-align: left;
    padding: .5rem 1rem;
    border-radius: 20px;
    margin-top: 3rem;
    background-color: #63d3c3;
  }

  .redirect{
    text-decoration: none;
    color: #4E44DC;
    left: 10%;
    bottom: 0;
    transition all .3s;
  }

  .redirect:hover{
    left: 0;
    bottom: 0;

  }
  #loading{
    font-weight: 500;
    margin-top: 20px;
  }
  .results-heading{
    /* margin: 1rem; */
    /* margin-top: 10rem; */
    text-align: center;
    font-weight: 500;
    color: rgb(152, 152, 152);
  }

  #rend-predictions{
    margin-top: 2rem;
    font-weight: 500;

  }
  .darken{
    color: #000;
  }

  #status{
    margin: 2rem 0 1rem 0;
    font-size: 40px;
    font-weight: 500;
  }

  #status-explanation{
    margin-top: 1rem;
    width: 80%;
    line-height: 2;
  }


.slidecontainer {
  width: 70%;
  /* margin: 0 auto; */
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 2px;
  background: #000;
  margin: 2rem 0;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::hover {
  background-color: #4D43DC;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #84B7E1;
  cursor: pointer;
}
.slidecontainer p{
  margin-right: 5px;
}

.submit{
  outline:none;
  cursor: pointer;
  border: none;
  background:none;
  background-color: #aaeed4;
  padding: 10px 20px;
  transition: all 0.4s;
}
.submit:hover, 
.submit .active{
  box-shadow: inset 0px 0px 5px #59bd97;
}
.felt{
  font-weight: 600;
}

.del{
  min-height: 20vh;
  min-width:100%;
  display: flex;
  justify-content:flex-end;
  align-items:flex-end;
}

